[DEFAULT]
Depends: python, python-adns, python-BeautifulSoup, python-daemon,  python-geoip, python-ipy, python-lockfile, python-m2crypto, python-networkx, python-openssl, python-psycopg2, python-pyparsing, python-setuptools, python-sqlalchemy, python-twisted, sfa-client, sfa-common, sqlite3

# for SSL support: python-m2crypto, python-openssl

#Depends: python, sfa, sfa-common, sfa-client, python-twisted, python-networkx, python-BeautifulSoup, python-geoip, sqlite3, python-daemon, python-lockfile, python-pyparsing, python-matplotlib,
# python-pygresql, psycopg for the postgres gateway
# sqlite3 for manual interactions with the database
# python-geoip for MaxMind gateway
# python-sfa and python-BeautifulSoup for SFA gateway
# python-autobahn for the websocket output

# missing : cfgparse (easy_install)
