[DEFAULT]
Depends: python, sfa, sfa-common, sfa-client, python-twisted, python-networkx, python-BeautifulSoup, python-geoip, sqlite3, python-daemon, python-lockfile, python-pyparsing, python-matplotlib
# python-pygresql, psycopg for the postgres gateway
# sqlite3 for manual interactions with the database
# python-geoip for MaxMind gateway
# python-sfa and python-BeautifulSoup for SFA gateway

# missing : cfgparse (easy_install)
