Source: manifold
Maintainer: Jordan Auge <jordan.auge@lip6.fr>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: devscripts, debhelper (>=7.0.50~), debconf, dpatch, python-setuptools, make

Package: manifold
Architecture: any
# this list needs to be fine-tuned, first stab from stdeb.cfg
Depends: python, python-sqlalchemy, python-twisted, sfa-common, sfa-client, python-networkx, python-BeautifulSoup, python-geoip, sqlite3, manifold-metadata, python-setuptools, python-pygresql, python-psycopg2,
Description: Manifold infrastructure

# Thierry: the recipe I'm using somehow only works with several packages
# it might relate to some missing --single option somewhere - go figure...
# so I'm creating this separate thing right now, any other split would work as well
# for now this seems to contain a devel package (.h files)
Package: manifold-metadata
Architecture: any
Depends:
Description: Manifold metadata header files xxx to be reviewed
